.textGradient {
    background: conic-gradient(from 
                90deg
                at 50% 50%,#f25656 
                0deg
                ,#fbd03b 
                104.17deg
                ,#56c4f5 
                239.17deg
                ,#c156c2 
                323.54deg
                ,#f25656 
                1turn
            );
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color: #2F2E41;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 15px 40px;
}

.bgImage {
    background-size: cover;
    height: 100vh;
    /* background-image: url('https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg'); */
}

/* .boardsBgImage {
    background-size: cover;
    /* height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1631027761930-bc3bcfd2be74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80');
} */

/* https://images.unsplash.com/photo-1631027761930-bc3bcfd2be74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80 */
/* https://images.unsplash.com/photo-1630798248935-0ceb55bf0fff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80 */
/* https://images.unsplash.com/photo-1631677211500-763e91bc738d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80 */